*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav{
    display: flex;
    list-style-type: none;
}
.nav-item{
    text-decoration: none;
    color: #ff6347;
    padding: 8px;
    font-weight: 600;
}

/* Hero */
.container{
    margin: 25px 100px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-container > *{
    width: 50%;
}
.hero-text h1{
    font-size: 35px;
    margin-bottom: 8px;
}
.hero-text h1 span{
    color: #ff6347;
}
.hero-std{
    width: 100%;
}
.explore{
    display: inline-block;
    text-decoration: none;
    background-color: #ff6347;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
}

/* About Us */
.section-header{
    background-color: rgba(255, 99, 71, 0.3);
    text-align: center;
    padding: 20px;
}
.section-header h1{
    margin-bottom: 12px;
    text-decoration: underline;
}
.text-justify{
    text-align: justify;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.stat-box{
    border: 1px solid #fcc1b6;
    padding: 25px;
}
.stat-box h2{
    text-align: center;
}

/* Batches */
.batch-container table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
.batch-container table,
.batch-container td,
.batch-container th{
    border: 1px solid #fcc1b6;
}
.batch-container td,
.batch-container th{
    padding: 8px;
}
.batch-container thead tr{
    background-color: #ff6347;
    color: #fff;
}
.batch-container tbody tr:nth-child(even){
    background-color: #fcc1b6;
}

/* Courses */
.course-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.course-card{
    width: 275px;
    padding: 30px 20px;
    background-color: #feed8b;
}
.price{
    font-weight: bold;
    margin: 5px 0px;
}
.course-card a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    margin-top: 8px;
}

/* Contact Us */
.contact-container{
    display: flex;
    justify-content: space-between;
}
.form{
    width: 350px;
    text-align: left;
}
.form h2{
    margin-bottom: 12px;
}
.form-input{
    display: block;
    width: 100%;
    margin-bottom: 3px;
    /* font-size: 18px; */
    padding: 8px;
}
.form-input::placeholder{
    color: #ff6347;
}
.btn{
    width: 50%;
    padding: 8px;
    background-color: #ff6347;
    border: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

/* Footer */
footer{
    padding: 12px;
    background-color: #ff6347;
    color: #fff;
    text-align: center;
}