<div th:replace="~{navbar.html}"></div>
<!--Hero-->
      <section>
       <div class="container my-4">
        <div class="row">

          <div class="col-md-6">
            <img src="./Image/home-image.jpg" class="img-fluid home-image"> 
          </div>
            <div class="col-md-6">
              <h1>The care you need from Doctor you<span class="text-success">Trust</span></h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione ipsum veniam quae, odit est pariatur tempore blanditiis temporibus laboriosam.</p>
              <a href="#" class="btn btn-success text-uppercase fw-semibold">Book a Doctor</a>
            </div>
          </div>
       </div>
      </section>

      <!--Virtual Booking-->
      <section>
        <div class="bg-success text-white my-4 text-center p-5">
          <h1 class="display-4">Need a Second Opinion?</h1>
          <p class="lead my-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, placeat eos? Ut sint accusantium molestias, at reprehenderit veritatis deleniti aperiam.</p>
           <a href="#" class="btn btn-light fw-semibold">Book A Virtual Appointment</a>    
        </div>
          
      </section>
      <!--features-->
      <section>
        <div class="container my-5">
          <div class="row">
            <div class="col-md-4">
              <div class="card border-0 border-bottom border-success border-5 shadow-sm">
                <div class="card-body">
                  <i class="fa-solid fa-user-doctor text-success feature-icon"></i>
                  <h3>Specialist Doctor</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aliquam officiis maxime consequuntur illum beatae quam repellendus iusto unde?</p>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card border-0 border-bottom border-success border-5 shadow-sm">
                <div class="card-body">
                  <i class="fa-solid fa-calendar-days text-success feature-icon"></i>
                  <h3>Online Appointment</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aliquam officiis maxime consequuntur illum beatae quam repellendus iusto unde?</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card border-0 border-bottom border-success border-5 shadow-sm">
                <div class="card-body">
                  <i class="fa-solid fa-syringe text-success feature-icon"></i>
                  
                  <h3>Medical History</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aliquam officiis maxime consequuntur illum beatae quam repellendus iusto unde?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Special Treatment-->
      <section>
        <div class="bg-success-subtle">
          <div class="container py-5">
            <div class="row">
              <div class="col-md-6">
                <h1 class="display-5">World Class Treatment</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, explicabo! Molestiae aut impedit et odit dolorem non hic reiciendis excepturi.</p>
                <div class="card-my-2 shadow-sm round--0-">
                  <div class="card-body py-1">
                    <h4 class="mb-0">Heart</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, officiis.</p>
                  </div>
                </div>

                <div class="card-my-2 shadow-sm round--0-">
                  <div class="card-body py-1">
                    <h4 class="mb-0">Cancer</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, officiis.</p>
                  </div>
                </div>

                <div class="card-my-2 shadow-sm round--0-">
                  <div class="card-body py-1">
                    <h4 class="mb-0">Neurology</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, officiis.</p>
                  </div>
                </div>

                <div class="card-my-2 shadow-sm round--0-">
                  <div class="card-body py-1">
                    <h4 class="mb-0">Aurothopedic</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, officiis.</p>
                  </div>
                </div>

                <div class="card-my-2 shadow-sm round--0-">
                  <div class="card-body py-1">
                    <h4 class="mb-0">cardiology</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, officiis.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img src="Image/pexels-karolina-grabowska-4047186.jpg" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
      <div th:replace="~{footer.html}"></div>